@font-face {
  font-family: "iconfont"; /* Project id 3115500 */
  src: url('iconfont.woff2?t=1641227631801') format('woff2'),
       url('iconfont.woff?t=1641227631801') format('woff'),
       url('iconfont.ttf?t=1641227631801') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yonghu:before {
  content: "\e633";
}

.icon-shouyeshouye:before {
  content: "\e622";
}

.icon-gouwuche:before {
  content: "\e636";
}

.icon-fenlei:before {
  content: "\e617";
}

